{% extends 'layout.html' %}

{% block title %} Complete {% endblock %}

{% block head %}
  {% parent %}
  <!-- STYLESHEETS -->
  <!-- SCRIPTS -->
{% endblock %}

{% block content %}

<div class="container">
  <h2>{{ __('주문 완료') }}</h2>
  <hr />

  <div style="text-align: center; margin: 150px;">
    <h1><i class="fa fa-fw fa-2x fa-check-circle-o"></i></h1>
    <h1>{{ __('주문이 완료되었습니다. 입금이 확인되면 배송이 시작됩니다.') }}</h1>
    <h3>계좌: 우리은행 1005-102-532536 (예금주: 김석준)</h3>
    <a href="/" class="btn btn-lg btn-default">{{ __('돌아가기') }}</a>
  </div>
</div>
{% endblock %}