{% extends 'layout.html' %}

{% block title %} PRODUCT MANAGER {% endblock %}

{% block head %}
  {% parent %}
  <!-- STYLESHEETS -->
  <style>
    .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
  <!-- SCRIPTS -->
{% endblock %}

{% block content %}
<div class="container">
  <h1><a href="/admin"><i class="fa fa-fw fa-chevron-circle-left"></i></a>PRODUCT MANAGER</h1>
  <hr />

  {% if edit %}
  <form role="form" action="/product/{{ edit.id }}" method="POST">
  {% else %}
  <form role="form" action="/product" method="POST">
  {% endif %}
    <div class="row clearfix">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">{{ __('이름') }}</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="{{ __('제품명을 입력하세요') }}" value="{{ edit.name }}">
        </div>
        <div class="form-group">
          <label for="price">{{ __('가격') }}</label>
          <input type="text" class="form-control" id="price" name="price" placeholder="{{ __('가격을 입력하세요') }}" value="{{ edit.price }}">
        </div>
        <div class="form-group">
          <label for="stock">{{ __('재고') }}</label>
          <input type="text" class="form-control" id="stock" name="stock" placeholder="{{ __('재고를 입력하세요') }}" value="{{ edit.stock }}">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="video">{{ __('VIMEO 영상 ID') }}</label><br>
          <input type="text" class="form-control" id="video" name="video" placeholder="{{ __('VIMEO 영상 ID를 입력하세요.') }}" value="{{ edit.video }}">
        </div>
        <div class="form-group">
          <label for="thumbnail">{{ __('대표 사진') }}</label><br>
          <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="{{ __('대표 이미지 URL을 입력하세요') }}" value="{{ edit.thumbnail }}">
        </div>
        <div class="form-group">
          <label for="thumbnail">{{ __('제품 사진') }}</label><br>
          <input type="text" class="form-control" id="photos" name="photos" placeholder="{{ __('제품 사진의 URL을 입력하세요 (콤마로 구분)') }}" value="{{ edit.photos }}">
        </div>

        <!-- <div class="form-group">
          <label for="name">{{ __('관련 제품') }}</label>
          <select name="related" class="form-control">
            <option value="">{{ __('없음') }}</option>
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
          </select>
        </div> -->
        <div class="form-group">
          <label for="tags">{{ __('태그') }}</label>
          <input type="text" class="form-control" id="tags" name="tags" placeholder="{{ __('콤마로 구분되는 태그를 입력하세요') }}" value="{{ edit.tags }}">
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="description">{{ __('설명') }}</label>
          <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="{{ __('이 제품에 대한 설명을 MARKDOWN 형식으로 입력하세요') }}">{{ edit.description }}</textarea>
          <!-- <input type="text" class="form-control" id="name" name="name" placeholder="{{ __('제품명을 입력하세요') }}"> -->
        </div>
        <!-- <div class="form-group" style="margin-left: 15px;">
          <div class="checkbox">
            <label>
              {% if edit.isSelling %}
              <input type="checkbox" name="isSelling" checked> {{ __('판매') }}
              {% else %}
              <input type="checkbox" name="isSelling"> {{ __('판매') }}
              {% endif %}
            </label>
          </div>
        </div> -->
        <p class="help-block">
          <i class="fa fa-fw fa-warning"></i> {{ __('상품을 등록하면 기본적으로 판매 불가 상태로 저장됩니다. 하단의 Status 버튼을 클릭하여 상태를 변경하세요.') }}
          {% if edit %}
          <button type="submit" class="btn btn-primary btn-lg pull-right">{{ __('수정하기') }}</button>
          {% else %}
          <button type="submit" class="btn btn-primary btn-lg pull-right">{{ __('등록하기') }}</button>
          {% endif %}
        </p>
      </div>
    </div>
  </form>
  <hr />

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ __('생성일') }}</th>
            <th>{{ __('이름') }}</th>
            <th style="width: 200px;">{{ __('사진') }}</th>
            <th>{{ __('가격') }}</th>
            <th>{{ __('재고') }}</th>
            <th>{{ __('관련 제품') }}</th>
            <th>{{ __('태그') }}</th>
            <th>{{ __('상태') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr data-id="{{ product.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ product.createdAt|date('Y-m-d', '-540') }}</td>
            <td>{{ product.name }}</td>
            <td class="ellipsis">
              {% for photo in product.photos %}
              <a href="{{ product.photos }}">{{ loop.index }}</a>&nbsp;
              {% endfor %}
            </td>
            <td>{{ product.price|currency }}</td>
            <td>
              {% if product.stock > 0 %}
              {{ product.stock }}
              {% elseif product.stock == 0 %}
              {{ __('재고없음') }}
              {% else %}
              {{ __('확인불가') }}
              {% endif %}
            </td>
            <td>{{ product.related }}</td>
            <td>
              {% for tag in product.tags %}
              {{ tag }}{% if !loop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td>
              {% if product.isSelling %}
              <button class="btn btn-xs btn-success" button-action="status">{{ __('판매중') }}</button>
              {% else %}
              <button class="btn btn-xs btn-warning" button-action="status">{{ __('판매중지') }}</button>
              {% endif %}
            </td>
            <td>
              <a href="/product/{{ product.id }}" class="btn btn-xs btn-default" button-action="edit">PREVIEW</a>
              <a href="/admin/product/{{ product.id }}" class="btn btn-xs btn-primary" button-action="edit">EDIT</a>
              <button class="btn btn-xs btn-danger" button-action="delete">DELETE</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div style="text-align: center;">
        <ul class="pagination">
          <li><a href="/admin/product">&laquo;</a></li>
          {% for index in pages %}
          {% if page == loop.index %}
          <li class="active"><a href="/admin/product?page={{ loop.index }}">{{ loop.index }}</a></li>
          {% else %}
          <li><a href="/admin/product?page={{ loop.index }}">{{ loop.index }}</a></li>
          {% endif %}
          {% if loop.last %}
          <li><a href="/admin/product?page={{ loop.index }}">&raquo;</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $('[button-action="status"]').on('click', function () {
    var product_id = $(this).parent().parent().data('id');

    $.ajax({
      type: 'PUT',
      url: '/product/status/' + product_id,
      success: function (data, status) {
        alert('Status changed succesfully.');
        window.location = '/admin/product';
        return;
      },
      error: function (error) {
        console.log(error);
        return;
      }
    });
  });

  // POST DELETE
  $('[button-action="delete"]').on('click', function () {
    if ( !confirm ('Do you really want to delete this?') ) {
      return;
    }

    var product_id = $(this).parent().parent().data('id');

    $.ajax({
      type: 'DELETE',
      url: '/product/' + product_id,
      success: function (data, status) {
        alert('Deleted succesfully.');
        window.location = '/admin/product';
        return;
      },
      error: function (error) {
        console.log(error);
        return;
      }
    });
  });
});
</script>


{% endblock %}