{% extends 'layout.html' %}

{% block title %} {{ __('FLIT SHOP') }} {% endblock %}

{% block head %}
<style>

</style>
<script>

</script>
{% endblock %}

{% block content %}
<!-- Navigation Bar -->
{% include 'templates.navbar.html' %}
<!-- Navigation Bar -->

<div class="container documents" width="100%">
  {% for product in products %}
  {% if loop.index == 0 || loop.index%4 == 0 %}
  <div class="row"><!-- PRODUCT -->
  {% endif %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class="img-rounded" src="http://lorempixel.com/500/500">
        <div class="caption text-left">
          <h3>{{ product.name }} <span class="badge badge-info pull-right">{{ sails.config.project.currency.symbol }}{{ product.price }}</span></h3>
          <p>{{ product.description }}</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">{{ __('구입') }}</a>
          </p>
        </div>
      </div>
    </div>
  {% if loop.index == 0 || loop.index%4 == 0 || loop.last %}
  </div><!-- PRODUCT -->
  {% endif %}
  {% endfor %}

  <div class="row">

    {% include 'templates.footer.html' %}
  </div>
</div><!-- /.container -->

<script type="text/javascript">

</script>
{% endblock %};