<style>
  li {
    list-style: none;
  }
</style>

<div class="site-footer">
  <div class="container">
    <hr class="dashed">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>Open Shop is hosted on <a href="https://github.com/colus001/OpenShop" target="_blank" rel="external nofollow">GitHub</a> and open for everyone to contribute. Please give us some feedback and join the development!</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>You want to help us and participate in the development or the documentation? Just fork Open Shop on <a href="https://github.com/colus001/OpenShop" target="_blank" rel="external nofollow">GitHub</a> and send us a pull request.</p>
      </div>
      <div class="col-md-4">
        <h3>Talk to us</h3>
        <ul style="padding-left:0;">
          <li>Tweet us at <a href="https://twitter.com/flit.kr" target="_blank">@flit</a>&nbsp;&nbsp;&nbsp;&nbsp;Email us at <a href="mailto:colus001@me.com">colus001@me.com</a></li>
          <li>
            <a title="Twitter" href="https://twitter.com/flit" target="_blank" rel="external nofollow"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
            <a title="Facebook" href="https://www.facebook.com/flit" target="_blank" rel="external nofollow"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
            <a title="Github" href="https://github.com/bootflat/bootflat.github.io" target="_blank" rel="external nofollow"><i class="fa fa-github fa-2x"></i></a>
          </li>
        </ul>
      </div>

    </div>

    <hr class="dashed">
    <div class="copyright clearfix">
      <p><b>Open Shop</b></p>
      <p>© 2014 <a href="http://flit.kr" target="_blank">FLIT</a> Some rights reserved. &nbsp;&nbsp;Code licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank" rel="external nofollow">GPL v2 License</a>.</p>
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-bottom hidden-xs">
  <div class="col-md-12">
    <span class="pull-right" style="padding-top: 20px;">v{{ sails.config.project.version }} {{ sails.config.project.author }} © {{ sails.config.project.year }}</span>
  </div>
</div>